@media (orientation : landscape) {

	.form-field-container * {
		width: 47%;
	}	

	.form-field-container {
		flex-flow: row nowrap;
	}
	
	.social-links-container {
		grid-template-rows: 50% 50%;
		grid-template-columns: repeat(3 , calc(100%/3));
	}

}

@media (orientation : portrait) {

	.form-field-container * {
		width: 100%;
	}

	.form-field-container {
		flex-flow: row wrap;
	}

	.social-links-container {
		grid-template-rows: repeat(3 , calc(100%/3));
		grid-template-columns: 50% 50%;
	}

}


main h1 {
	margin : 0;
	padding : 0;
	font-family: MontB;
}

main p {
	margin : 48px 0 32px 0;
	padding : 0;
}

section {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

section a {
	display: inline-block;
	margin: 8px;
	font-family: MontR;
	transition : transform 250ms ease 0s;
}

section a img {
	vertical-align: text-bottom;
	height: 20px;
	width : auto;
}

section a:hover {
	transform : translateX(4px);
}

.form-field-container {
	display: flex;
	justify-content: space-between;
}

.form-field-container * {
	display: inline-block;
	margin-bottom: 8px;
}	

input , select , textarea {
	font-family: MontR;
	font-size: var(--body-font-size);
	color : var(--liquorice , black);
	background : transparent;
	outline : none;
	border : none;
	box-sizing: border-box;
	padding: 8px;
}

textarea {
	width: 100%;
	height: 200px;
	resize: none;
	border : 2px solid var(--liquorice , black);
}

input , select{
	border-bottom: 2px solid var(--liquorice , black);
}

select {
	cursor : url("../assets/images/cur_black_24dp.svg") , default;
}

input[type="submit"] {

	padding: 16px 64px;
	border: 2px solid var(--liquorice , black);
	display: inline-block;
	margin : 48px 0;
	font-family: MontSB;
	background:none;
	cursor : pointer;
	transition: background 250ms ease-in 0ms , color 250ms ease-in 0ms;
	cursor : url("../assets/images/cur_yellow_24dp.svg") , default;

}

input[type="submit"]:hover {
	background:var(--liquorice , black);
	color:var(--yellow-ncs , yellow);
}

form p {
	font-family: MontSB;
}

option {
	background:var(--liquorice , black);
	color:var(--yellow-ncs , yellow);
}

.social-links-container {
	display: grid;
	justify-content: center;
	align-items: center;
}